click
coloredlogs

# parsing VCFs
cyvcf2
pysam==0.13

# connection to db
pymysql
SQLAlchemy

# Showing database insert ProgressBar
enlighten

# filtering for gene panels
pybedtools==0.7.10

# generating a PDF report
reportlab
