click
coloredlogs

# parsing VCFs
cyvcf2
pysam

# connection to db
pymysql
SQLAlchemy

# Showing database insert ProgressBar
enlighten

# filtering for gene panels
pybedtools

# generating a PDF report
reportlab
