click
coloredlogs

# parsing VCFs
cyvcf2

# connection to db
pymysql
ConfigParser
SQLAlchemy

# Showing database insert ProgressBar
enlighten

# filtering for gene panels
enlighten

# generating a PDF report
reportlab
